{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Iron Bank</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="screen" title="no title">
    <style media="screen">
      body{
        background-color: #d8d8d8;
        color: darkblue;
        background-position: center;
      }
    </style>
  </head>
  <body>
    <div class="navbar navbar-default">
      <div class="container-fluid">
        <div class="nav navbar-nav">
          <li><a href="{% url 'index_view' %}">Home</a></li>
          <li><a href="{% url 'user_create_view' %}">Create User</a></li>
            {% if not request.user.is_authenticated %}
          <li><a href="{% url 'login' %}">Login</a></li>
            {% else %}
          <li><a href="{% url 'logout' %}?next={% url 'index_view' %}">Logout</a></li>
          <li> <p class="navbar-text" style="color:darkblue;">Welcome, <b>{{ request.user }}!</b></p></li>
            {% endif %}
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <h1 align="center">The Iron Bank of Hogwarts</h1>
      <br>

    </div>
    {% block content %}

    {% endblock %}

  </body>
</html>
