{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
  <form class="" action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <input type="submit" name="" value="submit">
  </form>
</div>
<hr>
<div class="container-fluid">
  Your Account Number: {{ request.user.profile.id }}
{% for type in transaction %}
  <br>
  $ {{ type.amount }} &nbsp;
  {{ type.get_transaction_type_display }}
{% endfor %}
<hr>
Account Total: ${{ request.user.profile.get_total }}
</div>
{% endblock %}
